services:
  app:
    build: .
    image: voice-satellite:latest
    container_name: voice-satellite
    
    group_add:
     - "17" #getent group audio | cut -d: -f3
    # 1. Privileged is the safest bet for hardware access
    # privileged: true
    env_file: "./.env"
    
    # 2. Map the hardware only
    devices:
      - /dev/snd:/dev/snd

    network_mode: host
    # 3. Environment Variables
    environment:
      - PA_ALSA_PLUGHW=1 
      - PYTHONUNBUFFERED=1

    restart: unless-stopped
