services:
  app:
    build: .
    image: voice-satellite:latest
    container_name: voice-satellite
    
    group_add:
      - "17" #getent group audio | cut -d: -f3
    user: "1000:1000"

    env_file: "./.env"
    
    volumes:
      # Map the host's PipeWire-Pulse socket to the container
      - /run/user/1000/pulse/native:/tmp/pulse-socket:ro
      # Map your host's PipeWire/Pulse auth cookie
      - ~/.config/pulse/cookie:/tmp/pulse-cookie:ro
      - ./models:/app/assets/models
      - ./debug.wav:/app/debug.wav
      - ./debug2.wav:/app/debug2.wav
    network_mode: host
    # 3. Environment Variables
    environment:
      - PA_ALSA_PLUGHW=1 
      - PYTHONUNBUFFERED=1
      - PULSE_SERVER=unix:/tmp/pulse-socket
      # Tell pulse where to find the auth cookie
      - PULSE_COOKIE=/tmp/pulse-cookie
      # Pass through standard variables your Python app expects
      - SAT_ORCHESTRATOR_HOST=192.168.40.15
      - SAT_ORCHESTRATOR_PORT=8000
      - SAT_ORCHESTRATOR_PROTOCOL=http
      - WAKEWORD_THRESHOLD=0.7
      - ROOM=Schlafzimmer
      - LANGUAGE=de

    restart: unless-stopped
  squeezelite:
    build:
      context: .
      dockerfile: Dockerfile.squeezelite
    user: "1000:1000"
    environment:
      - PULSE_SERVER=unix:/tmp/pulse-socket
      - PULSE_COOKIE=/tmp/pulse-cookie
    volumes:
      - /run/user/1000/pulse/native:/tmp/pulse-socket:ro
      - ~/.config/pulse/cookie:/tmp/pulse-cookie:ro
    # Pass the arguments directly to the ENTRYPOINT
    # Change "Satellite" to your room name, and the IP to your Music Assistant server
    command: ["-n", "Schlafzimmer", "-s", "192.168.40.46"]
